@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
   --background-color:#06111d;
   --text-color:#edf2f4;
   --secondary-text-color:#000;
   --marker-text-color:#1a1a1a;
}
html {
    scroll-behavior: smooth;
}
::selection {
    background-color: var(--text-color);
    color: var(--marker-text-color);
}
::placeholder {
    color:var(--text-color)
}
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    position:relative;
    height:100vh;
    width:100vw;
    background-color: var(--background-color);
    overflow-x: hidden;
}

.glasmorph-nav {
    position:fixed;
    top:0;
    left:0;
    padding:1.5rem;
    font-size:2rem;
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    background-color: #06111d;
    transition: 1s;
    z-index: 99;
}
.effect {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); 
}
.glasmorph-nav a {
    color:var(--text-color);
    margin:0 0.5rem 0 0.5rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
    display: inline-block;
    padding: 0 .5em 0.2em;
    text-decoration: none;
    transition: background-size 0.4s;
}
.glasmorph-nav a:hover {
    --underline-width: 100%;
}
.glasmorph-nav span{
    display: none;
}
main {
    padding: 0.5rem; 
    margin-top: 5rem;
}
.hero-section {
    display:flex;
    align-items: center;
    width:100%;
    height:80vh;
}
.content-wrapper {
    padding:2rem;
    line-height:1.5;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.content-wrapper h1 {
    font-size: 2.8rem;
}
.content-wrapper p {
    font-size: 1.2rem;
}
.content-wrapper button {
    padding:1rem;
    margin-top:1rem;
    background:transparent;
    border:2px solid var(--text-color);
    color:var(--text-color);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1.2rem;
    cursor:pointer;
    transition: 0.5s ease;
} 
.button-effect {
    border: 1px solid;
    overflow: hidden;
    position: relative;
    
    span {
      z-index: 20;
    }
    
    &:after {
      background: #fff;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: -10;
    }
  }
  
  .button-effect:hover {
    padding: 1.1rem;
    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    
  }
.features-section {
    padding:2rem;
}
.features-section p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1.2rem;
    padding:0.5rem;
}
.features-section h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 2.7rem;
    padding:0.5rem;
}
.yt-to-mp3,
.spotify-downloaders,
.video-downloader {
    margin:5rem 0 5rem 5rem;
}
.features-section button {
    padding:1rem;
    margin-top:1rem;
    background:transparent;
    border:2px solid var(--text-color);
    color:var(--text-color);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1.2rem;
    cursor:pointer;
    transition: 0.5s ease;
    margin-left:0.5rem;
}
.footer {
    margin-top: 10rem;
    padding:2rem;
}
.footer p {
    text-align: center;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding:0.5rem;
}
.footer-options  {
    display: flex;
    justify-content: center;
    width:100%
}
.footer-options a {
    color:var(--text-color);
    margin:0 0.5rem 0 0.5rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    display: inline-block;
    text-decoration: none;
}
.footer-options a:hover {
  text-decoration: underline;
}
.hamburger-icon {
    display:block;
}
.four04-anchor {
    color:var(--text-color);
    margin:0 0.5rem 0 0.5rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-decoration: none;
}
.four04-anchor:hover {
    text-decoration: underline;
}
.about-wrapper {
    margin-left:4.5rem;
    margin-right: 4.5rem;
}
.center-wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
}

.center-wrapper button{
    padding:0.8rem;
    margin-top:1rem;
    background:transparent;
    border:2px solid var(--text-color);
    color:var(--text-color);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1.2rem;
    cursor:pointer;
    transition: 0.5s ease;
}
.center-wrapper h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 2.7rem;
    padding:0.5rem;
}
.URLinput {
    padding:0.8rem;
    margin-top:1rem;
    background:transparent;
    border:2px solid var(--text-color);
    color:var(--text-color);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1.2rem;
    width:75%;
    margin:0 0.5rem 0 0.5rem;
    outline: none;
}
.resolution-container {
    display:block;
    margin:0.5rem;
}
.resolution {
    border-bottom: 2px solid var(--text-color);
    display:flex;
    padding:0.5rem;
    align-items:center;
}
.resolution-text {
    flex-grow:3;
    flex-basis:0;
    text-align:left;
}
.vid-duration {
    padding:1rem;
}
@media only screen and (max-width: 500px) {
    .content-wrapper h1 {
       font-size:1.8rem;
       padding-bottom:0.5rem;
    }
    .yt-to-mp3,
    .spotify-downloaders,
    .video-downloader {
        margin:0rem;
        padding-bottom:1rem;
    }
    .yt-to-mp3 h1,
    .spotify-downloaders h1,
    .video-downloader h1 {
        font-size: 2rem;
    }
    .glasmorph-nav a {
        display:none;
        padding:2rem !important;
        margin:4rem 0 4rem 0;
        text-align: center;
    }
    .glasmorph-nav span {
        display: inline-block;
        cursor: pointer;
    }
    .glasmorph-nav {
        padding: 1rem;
        display:block;
    }
    .hamburger-icon {
        display:block;
    }
    .hamburger-icon nav a{
        display:block;
    }
    .footer-options  {
        text-align: center;
    }
    .four04-anchor {
        text-align: center;
        margin-left: 0 !important;
    }
    .content-wrapper {
        font-size:1rem !important;
        padding:1rem;
    }
    
    .about-wrapper {
        margin: 0;
    }
    .yt-to-mp3,
    .spotify-downloaders,
    .video-downloader {
    margin:0;
}
.center-wrapper h1 {
    font-size: 1.5rem;
    text-align: center;
    margin:0.5rem 0;
}
.URLinput {
    width:95vw !important;
}
.center-wrapper button {
  display: block;      
  margin: 1rem auto; 
}
}
