@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
   --background-color:#06111d;
   --text-color:#edf2f4;
}
html {
    scroll-behavior: smooth;
}
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    position:relative;
    height:100vh;
    width:100vw;
    background-color: var(--background-color);
    overflow-x: hidden;
}

.glasmorph-nav {
    position:fixed;
    top:0;
    left:0;
    padding:1.5rem;
    font-size:2rem;
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    background-color: #06111d;
    transition: 1s;
}
.effect {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); 
}
.glasmorph-nav a {
    color:var(--text-color);
    margin:0 0.5rem 0 0.5rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background: linear-gradient(currentColor 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
    display: inline-block;
    padding: 0 .5em 0.2em;
    text-decoration: none;
    transition: background-size 0.4s;
}
.glasmorph-nav a:hover {
    --underline-width: 100%;
}
main {
    padding: 0.5rem; 
    margin-top: 5rem;
}
.hero-section {
    display:flex;
    align-items: center;
    width:100%;
    height:80vh;
}
.content-wrapper {
    padding:2rem;
    line-height:1.5;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.content-wrapper h1 {
    font-size: 2.8rem;
}
.content-wrapper p {
    font-size: 1.2rem;
}
.content-wrapper button {
    padding:1rem;
    margin-top:1rem;
    background:transparent;
    border:2px solid var(--text-color);
    color:var(--text-color);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1rem;
    cursor:pointer;
} 